<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP_Vkntx6LGpgkSJ5Y9wy6cjGVvGnOTBI</string>
	<key>GCM_SENDER_ID</key>
	<string>932633644936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.didulasa.tempoFy</string>
	<key>PROJECT_ID</key>
	<string>tempo-app-24</string>
	<key>STORAGE_BUCKET</key>
	<string>tempo-app-24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932633644936:ios:4bb1ad79529eff67aab43d</string>
</dict>
</plist>